@import url("webfonts/declara/stylesheet.css");
body {
	font-family: pt-sans-narrow;
	font-style: normal;
	font-weight: 400;
}
body aside {
	font-size: x-large;
	color: #5A5B5C;
	text-align: center;
}
body section h2 {
	color: #5A5B5C;
	font-size: medium;
}
body section p {
	width: 300px;
	height: 470px;
	padding-left: 1%;
	padding-right: 1%;
	padding-top: 1%;
	padding-bottom: 1%;
	opacity: 1;
	text-align: left;
	float: left;
	border-color: #E7D06F;
	border-style: double;
	margin-left: 5%;
	margin-top: 15px;
}
body img {
	float: right;
	border-color: #E7D06F;
	border-style: double;
	height: 488px;
	width: 290px;
	margin-right: 5%;
	margin-top: 15px;
}

.selvportraet {
	width: 150px;
	height: 150px;
	border: hidden;
	margin-top: 7%;
	margin-right: 5%;
	text-align: center;
}