@import url("webfonts/declara/stylesheet.css");
body {
	font-family: pt-sans-narrow;
	font-style: normal;
	font-weight: 400;
	width: 80%;
	margin: 0 auto;
}
body aside {
	font-size: x-large;
	color: #5A5B5C;
	text-align: center;
	font-family: declara;
}
body section h2 {
	color: #5A5B5C;
	font-size: medium;
}

.paragraph {
	width: 270px;
	height: 490px;
	opacity: 1;
	text-align: left;
	float: left;
	border-color: #E7D06F;
	border-style: double;
	color: #5A5B5C;
	margin-top: 15px;
	padding-left: 1%;
	padding-right: 1%;
}

.contact {
	border-color: #E7D06F;
	border-style: double;
	width: 270px;
	height: 490px;
	text-align: center;
	margin-top: 15px;
	margin-left: 8%;
	margin-right: 7%;
	color: #5A5B5C;
	float: left; 
}

.imgkompe {
	width: 270px;
	height: 490px;
	border: medium double #E7D06F;
	margin-top: 15px;
	float: right;
}

div {
	vertical-align: top;
}
