@charset "UTF-8";

h1 {
	font-family: declara;
	text-align: center;
	width: 80%;
	margin: auto;
	margin-top: 2%; 
	line-height: 100%;
	color: #4B4C4D;
}

body img {
	margin: auto;
	padding: 1%;
	border: double #4B4C4D;
	display: block;
}
body {
	background-image: url(images/backgroundimg.png);
}

p {
	font-family: pt "pt-sans-narrow";
	text-align: center;
}
